$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

@import '~bootstrap/scss/bootstrap.scss';
$untouchableYellow: #EEFFC0;

html, body {
    height: 100%;
    width: 100%;
    background-color: $untouchableYellow;
}
